extends base



block content 
    #video-container.video-container
         if files
            each file in files
                figure
                    .thumbnail.card.card-body
                        a(href=`/get-all-videos/${file.videoName}`)
                            center
                                img.thumbnailImage(src=`/get-thumbnail/${file.Thumbnail}` alt=`${file.videoName}`)
                                figcaption=`${file.caption}`
                                a.btn.btn--delete(href=`/delete/${file._id}` ) delete    
